<div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Especies</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let species of totalsBySpecies | keyvalue" class="total-item">
          <span class="total-label">{{ species.key }}: </span>
          <span class="total-value">{{ species.value }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tipos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let type of totalsByType | keyvalue" class="total-item">
          <span class="total-label">{{ type.key }}: </span>
          <span class="total-value">{{ type.value }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  