.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.favorite-card{
  margin-bottom: 22px;
  cursor: pointer;
}
.favorite-card:hover{
  background-color: rgba(42, 43, 43, 0.242);
}

.filters {
  display: flex;
  gap: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
}

.table-container {
  flex: 1;
  overflow-x: auto;
}

.details-container {
  width: 400px;
}

.no-selection-card {
  text-align: center;
  justify-content: center; 
  min-height: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

table {
  width: 100%;
}

mat-paginator {
  margin-top: 10px;
}

.filter-button {
  height: 56px; 
}