<div class="container">
  <!-- PERSONAJE FAVORITO -->
  <app-favorite
    [favoriteCharacter]="favoriteCharacter"
    (characterSelected)="selectCharacter($event)"
  ></app-favorite>

  <!-- FILTROS -->
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Buscar por nombre</mat-label>
      <input
        matInput
        [(ngModel)]="filters.name"
        (input)="applyFilters()"
        placeholder="Escribe un nombre"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filtrar por estado</mat-label>
      <mat-select
        [(ngModel)]="filters.status"
        (selectionChange)="applyFilters()"
      >
        <mat-option value="">Todos</mat-option>
        <mat-option value="Alive">Vivo</mat-option>
        <mat-option value="Dead">Muerto</mat-option>
        <mat-option value="unknown">Desconocido</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      (click)="clearFilters()"
      class="filter-button"
    >
      Limpiar Filtros
    </button>
  </div>

  <div class="main-content">
    <!-- TABLA PERSONAJES -->
    <div class="table-container">
      <app-character-table
        [characters]="dataSource.data"
        (characterSelected)="selectCharacter($event)"
        (favoriteSelected)="setFavoriteCharacter($event)"
      >
      </app-character-table>
      <!-- TOTALES ESPECIE & TIPO -->
      <app-totals [characters]="dataSource.data"></app-totals>
    </div>

    <!-- DETALLE PERSONAJE -->
    <div class="details-container">
      <app-character-details
        *ngIf="selectedCharacter; else noCharacterSelected"
        [character]="selectedCharacter"
        (clearCharacterEvent)="clearSelectedCharacter()"
      ></app-character-details>

      <ng-template #noCharacterSelected>
        <app-character-selection-empty></app-character-selection-empty>
      </ng-template>
    </div>
  </div>
</div>
