<div class="container">
  <!-- FILTROS -->
  <div class="filters">
    <mat-form-field appearance="outline">
      <mat-label>Buscar por nombre</mat-label>
      <input
        matInput
        [(ngModel)]="filters.name"
        (input)="applyFilters()"
        placeholder="Escribe un nombre"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filtrar por estado</mat-label>
      <mat-select
        [(ngModel)]="filters.status"
        (selectionChange)="applyFilters()"
      >
        <mat-option value="">Todos</mat-option>
        <mat-option value="Alive">Vivo</mat-option>
        <mat-option value="Dead">Muerto</mat-option>
        <mat-option value="unknown">Desconocido</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="main-content">
    <!-- TABLA -->
    <app-character-table
      [characters]="dataSource.data"
      (characterSelected)="selectCharacter($event)"
    >
    </app-character-table>

    <!-- DETALLES PERSONAJE -->
    <div class="details-container">
      <app-character-details
        *ngIf="selectedCharacter; else noCharacterSelected"
        [character]="selectedCharacter"
      ></app-character-details>
      <ng-template #noCharacterSelected>
        <mat-card class="no-selection-card">
          <mat-card-content>
            <p>Seleccione un personaje para visualizar su información.</p>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
  </div>

  <!-- Totales -->
  <app-totals [characters]="dataSource.data"></app-totals>
</div>
