.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .tag {
    border: 1px solid  #44e81c;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
    color: #44e81c;
    white-space: nowrap;
  }
  